header {
  display: flex;
  border: 2px solid;
  padding: .5rem 2rem;
}

svg {
  height: 4rem;
  width: auto;
}

h1 {
  font-size: 1.5rem;
}

ul {
  display: flex;
  flex-flow: row wrap;
}

li {
  margin-right: 2rem;
}
body {
  display: flex;
  
  
}
main{
  border: 2px solid red;
}
aside {
  border: 2px solid green;
}