header {
  display: flex;
  border: 2px solid;
  padding: .5rem 2rem;
}

svg {
  height: 4rem;
  width: auto;
}

h1 {
  font-size: 1.5rem;
}

ul {
  display: flex;
}

li {
  margin-right: 2rem;
}

body {
  display: flex;
  flex-flow: row wrap;
}

main{
  width: 70%;
  border: 2px solid red;
  padding: 1rem;
  margin-right: calc(5% - 2rem);
  background: lightpink;
}

aside {
  width: 70%;
  border: 2px solid violet;
  background: lightpink;
}

img{
  width:100%;
  border: 2px solid grey;
}

footer{
  border:2px solid blue;
  widht:10%;
  height: 30rem;
  background: lightblue;
  
}